@ui-speed: 0.1s;
@blur-amnt: 35px;
@box-bkg: #118b48;
@box-outline: #126839;
@primary: #ecec21;

@media screen and (max-width: 1536px) {
	.rescale {
		zoom: 0.8;
	}

	.healthBar {
		width: 50vw !important;
	}
}

@media screen and (max-width: 1152px) {
	.rescale {
		zoom: 0.6;
	}

	.healthBar {
		width: 80vw !important;
	}
}

@media screen and (max-width: 960px) {
	.rescale {
		zoom: 0.5;
	}
}

body {
	margin: 0;
	font-family: "Fira Sans", Helvetica, sans-serif;
}

canvas {
	display: block;
}

#ui {
	pointer-events: none;
	position: fixed;
	height: 100%;
	width: 100%;

	& .bottom,
	& .top,
	& .middle {
		position: fixed;
		display: flex;

		&.col {
			flex-direction: column;
		}

		&.right {
			right: 0;
			align-items: end;
		}

		&.center {
			left: 50%;
			transform: translateX(-50%);
		}

		&.left {
			left: 0;
		}
	}

	& .buyMenu {
		display: flex;
		position: fixed;
		flex-direction: column;
		user-select: none;
		pointer-events: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		align-items: center;
		z-index: 10;
		backdrop-filter: blur(@blur-amnt) grayscale(0.8) brightness(1.2);

		& .section {
			display: flex;
			padding: 20px;
			padding-bottom: 55px;
			overflow: auto;
			flex: 1;
		}

		& .sideArms,
		& .primary,
		& .armor {
			display: flex;
			flex-direction: column;

			& div:not(.box) {
				overflow: auto;

				&::-webkit-scrollbar {
					width: 0;
				}
			}

			& .box {
				border-radius: 0;
				color: white;
				display: flex;
				flex-direction: column;
				margin-bottom: 2px;
				outline: 2px solid #3f3f3f;
				backdrop-filter: unset;

				& img {
					width: 100%;
					filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.397));
					//transform: scale(1.2);
				}

				& div {
					display: flex;
					width: 100%;

					& .name {
						flex: 1;
					}

					& .cost {
						color: @primary;
					}
				}

				&.label {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					background: #ffffff2a;
				}
			}

			& .box:nth-last-child(1) {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		& .sideArms {
			//margin-right: 20px;
			margin-left: -10px;
		}

		& .armor {
			//margin-left: 20px;
			margin-right: -10px;
		}
	}

	& .interact {
		color: white;
		margin: 0 !important;
		width: fit-content;
		position: fixed;
		top: 50%;
		left: calc(50% + 120px);
		transform: translateY(-50%);
		font-size: 20px;
		line-height: 1;
		padding: 10px 12px !important;
		align-items: center;

		& .key {
			font-size: 32px;
			margin-right: 12px;
			font-weight: bold;
		}

		& .item {
			margin-left: 6px;
		}
	}

	& .middle {
		top: 50%;
		transform: translateY(-50%);
	}

	& .bottom {
		bottom: 0;
	}

	& .top {
		top: 0;
	}

	& .box {
		padding: 10px;
		margin: 10px;
		margin-top: 0;
		background: @box-bkg;
		border-radius: 5px;
		display: flex;
		//backdrop-filter: blur(@blur-amnt);
		outline: 2px solid @box-outline;
		user-select: none;
		align-items: center;

		&.active {
			outline: 2px solid @primary;
		}

		&.healthBar {
			width: 30vw;
			padding: 5px;
			flex-direction: column;
			align-items: flex-start;

			& #healthAmnt {
				height: 30px;
				width: 100%;
				background: white;
				border-radius: 0 0 2.5px 2.5px;
				box-sizing: border-box;
				transition: @ui-speed;
			}

			& #drugsAmnt {
				height: 8px;
				width: 100%;
				background: #86aee9;
				border-radius: 2.5px 2.5px 0 0;
				box-sizing: border-box;
				top: 5px;
				transition: @ui-speed;
			}
		}

		&.weaponSlot {
			width: 150px;
			//transition: width @ui-speed linear;
			pointer-events: auto;
			cursor: pointer;

			&.none {
				cursor: not-allowed;
			}

			&:hover:not(.none) {
				background: fade(darken(@box-bkg, 10%), 60%);
			}

			& .weapImg {
				height: 35px;
				margin: 0;
				display: block;
				margin-right: 10px;
				transform: rotate(30deg);
			}

			& .weapData {
				flex: 1;
				margin-right: 6px;
				line-height: 1;
				color: white;
				text-align: right;

				& .name {
					font-size: 20px;
				}

				& .ammo {
					font-size: 0;
				}
			}

			&.active {
				width: 180px;

				& .weapImg {
					height: 60px;
				}

				& .weapData {
					& .ammo {
						font-size: 12px;
						margin-top: 5px;

						& .clip {
							font-size: 18px;
						}
					}

					& .name {
						font-size: 26px;
					}
				}
			}
		}
	}

	& .pauseMenu {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 360px;
		padding: 0 50px;
		user-select: none;

		& .box {
			width: 100%;
			box-sizing: border-box;
			height: 600px;
			color: white;
			pointer-events: auto;

			& h1 {
				margin: 0;
			}
		}

		& .logo {
			height: 65px;
			width: auto;
			margin-bottom: 25px;
		}
	}

	& .roundInfo {
		max-width: 900px;
		width: 100%;
		display: flex;
		user-select: none;
		justify-content: center;
		color: white;
		//margin-top: 10px;

		& .team {
			display: flex;
			flex-direction: row;

			& .roundWins {
				display: flex;
				height: 50px;
				width: 40px;
				justify-content: center;
				align-items: center;
				background: @box-bkg;
				margin: 0 10px;
				padding: 10px;
				border-radius: 5px;
				outline: 2px solid @box-outline;
				font-size: 18px;
			}

			& .roundWins:nth-of-type(2) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-top-left-radius: 0;
				margin-right: 0;
			}

			& .roundWins:nth-of-type(1) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-top-right-radius: 0;
				margin-left: 0;
			}

			& .players {
				display: flex;
				margin-top: 10px;

				& .player {
					border-radius: 30px;
					justify-content: center;
					width: 30px;
					height: 30px;
					margin: 0 5px;
				}
			}
		}

		& .timer {
			display: flex;
			width: 70px;
			justify-content: center;
			align-items: center;
			height: 50px;
			margin: 0;
			padding: 10px;
			background: @box-bkg;
			outline: 2px solid @box-outline;
			font-size: 18px;
		}
	}
}

#death {
	position: fixed;
	user-select: none;
	margin: auto;
	background: #00000063;
	backdrop-filter: blur(@blur-amnt);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;

	h1 {
		color: white;
		font-size: 64px;
	}

	& .box {
		background: @box-bkg;
		outline: 2px solid @box-outline;
		border-radius: 10px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.button {
		background: @primary;
		border-radius: 10px;
		outline: 4px solid black;
		cursor: pointer;
		font-weight: bold;
		padding: 25px 25px;
		transition: 200ms;
		box-sizing: border-box;
		line-height: 0;
		font-size: 18px;
		user-select: none;
		width: fit-content;
		text-align: center;
		&:hover {
			background: darken(@primary, 10%);
			box-shadow: 10px 10px 4px #000000;
		}
	}
}

#lobby {
	background: #497e51;
	background-size: 200%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(https://cdn.glitch.com/9277bef4-d401-4139-88d2-4a898cbf36f4%2Fvictorrbackground.png?v=1592576196700);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: fixed;

	& .box {
		background: fade(@box-bkg, 50%);
		outline: 2px solid @box-outline;
		border-radius: 10px;
		backdrop-filter: blur(@blur-amnt);
	}

	& .centerMenu {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		user-select: none;

		& .box {
			height: 350px;
			width: 500px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;
			box-sizing: border-box;

			& .button {
				background: @primary;
				border-radius: 10px;
				height: 50px;
				width: 200px;
				font-size: 25px;
				border: none;
				//outline: 2px solid @primary;

				&:hover {
					cursor: pointer;
					background: fade(@primary, 60%);
					//outline-color: fade(@primary, 30%);
				}
			}
		}
	}

	& .sideMenu {
		position: fixed;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 69px;
		height: 80%;
		min-height: 500px;
		max-height: calc(100% - 200px);
		border-radius: 0 10px 10px 0;
		overflow: hidden;
		transition: background 0.3s ease, width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
		padding: 10px 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;

		&:hover,
		&.stayOpen {
			width: 400px;

			& .menuItem {
				padding-left: 30px;

				& .friendsIcon {
					margin-right: 30px;
				}
			}

			& .settings:not(.hidden),
			& .friends:not(.hidden),
			& .leaderboards:not(.hidden),
			& .account:not(.hidden) {
				display: block;
			}
		}

		& .menuItem {
			padding: 0 22px;
			height: 50px;
			display: flex;
			align-items: center;
			user-select: none;
			cursor: default;
			transition: 0.3s ease, color @ui-speed ease;
			color: white;

			&:hover {
				cursor: pointer;
				color: @primary;
				//outline-color: fade(@primary, 30%);

				& .icon {
					filter: initial;
				}

				& .menuTitle {
					margin-left: 5px;
				}
			}

			& .icon {
				width: 25px;
				margin-right: 22px;
				transition: 0.3s ease, filter @ui-speed ease;
				filter: grayscale(1) brightness(3);
			}

			& .menuTitle {
				font-size: 25px;
				margin-top: 3px;
			}
		}

		& .settings,
		& .friends,
		& .leaderboard,
		& .account {
			padding: 10px 30px;
			display: none;
			overflow: hidden;
			width: 340;
			color: white;
			flex: 1;

			& .menuItem {
				margin: 0 -30px;
			}

			& label {
				font-size: 18px;
				display: inline-block;
				margin-bottom: 5px;
			}

			& input {
				margin-bottom: 18px;

				&[type="range"] {
					appearance: none;
					width: 100%;
					height: 10px;
					border-radius: 5px;
					background: #292929;
					box-sizing: border-box;
					margin-left: 0;
					margin-right: 0;
					margin-top: 0;
				}

				&[type="text"],
				&[type="password"],
				&[type="email"] {
					border: 0;
					padding: 4px;
					font-size: 18px;
					width: 100%;
					box-sizing: border-box;
					border-radius: 5px;
					outline: none;
					border: none;
					background: white;
					transition: background @ui-speed ease;

					&:hover {
						background: #e9e9e9;
					}
				}

				&::-webkit-slider-thumb {
					appearance: none;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: white;
				}
			}

			a {
				text-decoration: none;
				color: #9c9cf1;
				margin-top: 4px;
				display: block;
			}

			button {
				border: none;
				border-radius: 5px;
				outline: none;
				padding: 4px 8px;
				font-size: 18px;
				display: block;
				position: fixed;
				right: 30px;
				background: @primary;
				cursor: pointer;

				&:hover {
					background: fade(@primary, 60%);
				}
			}

			& select {
				width: 100%;
				font-size: 18px;
				box-sizing: border-box;
				margin-bottom: 18px;
				padding: 4px;
				border-radius: 5px;
				outline: none;
				border: none;
			}
		}

		& .friends {
			user-select: none;

			& div.loggedIn {
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			& .friendList {
				flex: 1;
				overflow-y: auto;
				overflow-x: visible;
				margin: 0 -30px 10px;

				&::-webkit-scrollbar {
					width: 0;
				}

				& hr {
					margin: 5px 0;
					visibility: hidden;
					height: 0;
				}

				label {
					padding: 0 30px;
				}

				& .friend {
					user-select: none;
					display: flex;
					font-size: 20px;
					align-items: center;
					padding: 10px 20px;
					cursor: default;
					transition: background @ui-speed ease;

					&:hover {
						background: #ffffff1a;
					}

					& img {
						background: white;
						border-radius: 100%;
						width: 40px;
						margin-right: 20px;
					}

					& .name {
						flex: 1;
						overflow: hidden;
					}

					& .removeFriend,
					& .inviteFriend,
					& .acceptFriend,
					& .matchesFriend {
						width: 25px;
						height: 25px;
						cursor: pointer;
						filter: grayscale(1) brightness(2);
						transition: filter @ui-speed ease;
						margin-left: 10px;

						&:hover {
							filter: initial;
						}
					}

					& .removeFriend {
						background: url(../img/UI/exit_icon.png?as=webp&width=25);
					}

					& .acceptFriend {
						background: url(../img/UI/check_icon.png?as=webp&width=25);
					}

					& .inviteFriend {
						background: url(../img/UI/invite_icon.png?as=webp&width=25);
					}

					& .matchesFriend {
						background: url(../img/UI/history_icon.png?as=webp&width=25);
					}
				}
			}
		}
	}

	& .topMenu {
		position: fixed;
		border-radius: 0 0 10px 10px;
		top: 0;
		max-width: 900px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		user-select: none;

		& .navItem {
			color: white;
			padding: 0 16px;
			font-size: 25px;
			transition: color @ui-speed ease;

			&:hover {
				cursor: pointer;
				color: @primary;
			}
		}

		& .active {
			color: darken(@primary, 10%);
		}
	}
}

& #footer {
	position: fixed;
	bottom: 8px;
	left: 6px;
	right: 6px;
	color: #dbdbdb;
	font-size: 12px;
	user-select: none;
	display: flex;
	align-items: center;
	z-index: 5;

	& .spacer {
		flex: 1;
	}

	& a,
	& span {
		text-decoration: none;
		color: white;
		padding: 8px;
	}

	& a:hover {
		color: #c9c9f5;
	}
}

#modal {
	position: fixed;
	z-index: 3;
	background: #000000a6;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	user-select: none;
	backdrop-filter: blur(calc(@blur-amnt / 2));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;

	& .privacy,
	& .socials,
	& .terms,
	& .changelog {
		background: #363636;
		color: white;
		border-radius: 10px;
		padding: 22px;
		padding-bottom: 0;
		max-width: 900px;
		max-height: 600px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		overflow: auto;
		outline: 2px solid black;

		& h1,
		& h3,
		& h4 {
			margin: 0;
			width: 100%;
		}

		& h4 {
			font-size: 20px;
		}

		& h3 {
			font-size: 24px;
			margin-bottom: -5px;
		}

		& a {
			color: #9c9cff;
			text-decoration: none;
		}

		& p {
			color: #e9e9e9;
			font-size: 20px;
			padding: 20px 0;
			text-align: justify;
			margin: 0;
			width: 100%;

			& a {
				text-decoration: none;
				color: #6666db;
			}
		}

		& .indent {
			padding: 20px 0 0 20px;
			width: 100%;
			box-sizing: border-box;
		}

		& ul {
			width: 100%;
			padding: 20px;
			margin: 0;
			box-sizing: border-box;

			& b {
				width: 100px;
				display: inline-block;
			}

			& li {
				margin-bottom: 5px;
				font-size: 18px;
			}
		}

		& .exit {
			width: 25px;
			height: 25px;
			background: url(../img/UI/exit_icon.png?as=webp&width=25);
			position: fixed;
			cursor: pointer;
			filter: grayscale(1) brightness(2);
			transition: filter @ui-speed ease;

			&:hover {
				filter: initial;
			}
		}

		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track {
			background: #4e4e4e;
			border-radius: 20px;
		}
		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 20px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: #cccccc;
		}
	}
}

.logo {
	max-width: 400px;
	width: 50%;
	margin-bottom: 50px;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.281));
	//backdrop-filter: blur(@blur-amnt);
	border-radius: 20px;
}

.hidden {
	display: none !important;
}

.err {
	margin-top: 20px;
	background: #ef354e;
	padding: 4px 8px;
	border-radius: 2px;
	font-size: 18px;
	font-weight: bold;
}
