@ui-speed: 0.1s;
@blur-amnt: 5px;

body {
	margin: 0;
	font-family: "Fira Sans", Helvetica, sans-serif;
}

canvas {
	display: block;
}

#ui {
	pointer-events: none;
	position: fixed;
	height: 100vh;
	width: 100vw;

	& .bottom,
	& .top {
		position: fixed;
		display: flex;

		&.col {
			flex-direction: column;
		}

		&.right {
			right: 0;
			align-items: end;
		}

		&.center {
			left: 50vw;
			transform: translateX(-50%);
		}

		&.left {
			left: 0;
		}
	}

	& .interact {
		color: white;
		margin: 0 !important;
		width: fit-content;
		position: fixed;
		top: 50vh;
		left: calc(50% + 120px);
		transform: translateY(-50%);
		font-size: 20px;
		line-height: 1;
		padding: 10px 12px !important;

		& .key {
			font-size: 32px;
			margin-right: 12px;
			font-weight: bold;
		}

		& .item {
			margin-left: 6px;
		}

		&.hidden {
			display: none;
		}
	}

	& .bottom {
		bottom: 0;
	}

	& .top {
		top: 0;
	}

	& .box {
		padding: 10px;
		margin: 10px;
		margin-top: 0;
		background: #00000038;
		border-radius: 5px;
		display: flex;
		align-items: center;
		backdrop-filter: blur(@blur-amnt);
		outline: 2px solid #0000005e;
		user-select: none;

		&.active {
			outline: 2px solid #ecec21;
		}

		&.healthBar {
			width: 30vw;
			padding: 5px;
			flex-direction: column;

			& #healthAmnt {
				height: 30px;
				width: 100%;
				background: white;
				border-radius: 0 0 2.5px 2.5px;
				box-sizing: border-box;
				transition: @ui-speed;
			}

			& #drugsAmnt {
				height: 8px;
				width: 100%;
				background: #86aee9;
				border-radius: 2.5px 2.5px 0 0;
				box-sizing: border-box;
				top: 5px;
				transition: @ui-speed;
			}
		}

		&.weaponSlot {
			width: 150px;
			//transition: width @ui-speed linear;
			pointer-events: auto;
			cursor: pointer;

			&.none {
				cursor: not-allowed;
			}

			&:hover:not(.none) {
				background: #00000060;
			}

			& .weapImg {
				height: 35px;
				margin: 0;
				display: block;
				margin-right: 10px;
			}

			& .weapData {
				flex: 1;
				margin-right: 6px;
				line-height: 1;
				color: white;
				text-align: right;

				& .name {
					font-size: 20px;
				}

				& .ammo {
					font-size: 0;
				}
			}

			&.active {
				width: 180px;

				& .weapImg {
					height: 60px;
				}

				& .weapData {
					& .ammo {
						font-size: 12px;
						margin-top: 5px;

						& .clip {
							font-size: 18px;
						}
					}

					& .name {
						font-size: 26px;
					}
				}
			}
		}
	}
}

#death {
	position: fixed;
	user-select: none;
	margin: auto;
	background: #00000063;
	backdrop-filter: blur(@blur-amnt);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;

	&.hidden {
		display: none;
	}

	h1 {
		color: white;
		font-size: 64px;
	}

	.button {
		background-color: #00ff37;
		border-radius: 10px;
		outline: 4px solid black;
		cursor: pointer;
		font-weight: bold;
		padding: 25px 25px;
		transition: 200ms;
		box-sizing: border-box;
		line-height: 0;
		font-size: 18px;
		user-select: none;

		&:hover {
			background: #00d11c;
		}
	}
}

#lobby {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(https://cdn.glitch.com/9277bef4-d401-4139-88d2-4a898cbf36f4%2Fvictorrbackground.png?v=1592576196700);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: fixed;

	& .centerMenu {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100vh;
		width: 100%;
		margin: 0;
		padding: 0;

		& .button {
			background-color: white;
			border-radius: 10px;
			height: 60px;
			width: 90px;
			font-size: 25px;

			&:hover {
				cursor: pointer;
				background-color: gray;
			}
		}
	}

	& .friendsMenu {
		position: fixed;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 69px;
		height: 80vh;
		min-height: 500px;
		background: #00000038;
		border-radius: 0 10px 10px 0;
		overflow: hidden;
		outline: 2px solid #0000005e;
		//box-shadow: 0px 0px 20px #d4d4d4;
		transition: background 0.3s ease, width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
		backdrop-filter: blur(@blur-amnt);

		&:hover {
			width: 280px;
			border-radius: 0;
			height: 100vh;

			& .menuItem {
				padding-left: 30px;

				& .friendsIcon {
					margin-right: 30px;
				}
			}
		}

		& ul {
			list-style: none;
			margin: 0;
			padding: 10px 0;
		}

		& .menuItem {
			padding: 0 22px;
			height: 50px;
			display: flex;
			align-items: center;
			user-select: none;
			cursor: default;
			transition: 0.3s ease;
			color: white;

			& .friendsIcon {
				width: 25px;
				margin-right: 22px;
				transition: 0.3s ease;
				filter: invert();
			}

			& .menuTitle {
				font-size: 25px;
				margin-top: 3px;
			}
		}
	}
}
